.basket {
  width: 60px;
  height: 60px;
  background: white;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40%;
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.basket i {
  font-size: 42px;
}

.basket .number {
  background-color: rgb(255, 69, 69);
  position: absolute;
  top: 9px;
  right: 8px;
  font-size: 14px;
  color: white;
  font-weight: bold;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}


@media (max-width: 576px) {
  .basket{
    display: none;
  }
}