.cart-container {
  height: 65vh;
}
.cart-image {
  width: 65px;
  height: 65px;
  border-radius: 0.5rem;
}

#cart td,
#card th {
  padding: 8px;
}

#cart th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgb(0, 0, 0, 0.7);
  color: white;
}

#cart tbody tr td:nth-child(3) {
  white-space: nowrap;
}

.cart-cont {
  display: flex;
}

.cart-cont div {
  background-color: rgb(0, 0, 0, 0.7);
  border: 1px solid white;
  width: 30px;
  height: 30px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.cart-cont .minus {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: rgb(221, 221, 221);
  color: black;
  cursor: pointer;
}

.cart-cont .plus {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: rgb(221, 221, 221);
  color: black;
  cursor: pointer;
}
.cart-name {
  font-weight: 500;
  color: #d1411e;
  font-size: 16px;
}

.cart-total {
  font-weight: 500;
  font-size: 16px;
}

.cart-delete {
  background-color: rgb(255, 0, 0, 0.7);
  color: white;
  width: 25px;
  height: 25px;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.cart-wrapper {
  border-radius: 0.5rem;
  background-color: whitesmoke;
  color: black;
  padding: 1rem;
}

.cart-totalText {
  display: flex;
  justify-content: space-between;
}

.cart-button {
  margin-top: 1.5rem;
  width: 100%;
  color: white !important;
  font-weight: bold;
  cursor: pointer;
  background-color: rgb(0, 0, 0, 0.7) !important;
}

.cart-paymentMethods {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.extra-btn {
  background: rgb(0, 0, 0, 0.4) !important;
  color: white !important;
  padding: 0.2rem 0.3rem !important;
  font-size: 13px !important;
}

.cart-mobile {
  display: none;
}

.empty-cart {
  background-color: 	rgb(220,220,220);
 
  width: 400px;
  max-width: 100%;
  text-align: center;
  padding: 1.5rem;
  font-size: 19px;
  font-weight: 600;
}

.clear-cart-desktop,
.clear-cart-mobile {
  background-color: rgba(255, 58, 58, 0.6) !important;

  color: white !important;
}

.clear-cart-mobile {
  display: none !important;
}

@media screen and (max-width: 600px) {
  .clear-cart-desktop {
    display: none !important;
  }

  .clear-cart-mobile {
    display: block !important;
  }
  .cart-wrapper {
    margin-top: 2rem;
  }
  #cart {
    margin-bottom: 3rem;
    display: none;
  }

  .cart-image {
    width: 85px;
    height: 85px;
    object-fit: cover;
    /* border-radius: 50%; */
  }

  .cart-mobile {
    position: relative;
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    margin-bottom: 1rem;
    background-color: whitesmoke;
    padding: 0.8rem;
    border-radius: 0.5rem;
  }

  .cart-mobile i {
    background-color: red;
    color: white;

    position: absolute;
    top: 0.2rem;
    right: 0.2rem;

    background-color: rgb(255, 0, 0, 0.7);
    color: white;
    width: 27px;
    height: 27px;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }


  .cart-total-cont{
      position: absolute;
    padding: 0.1rem 0.5rem;
    bottom: 0.4rem;
    right: 0.4rem;
    background-color: rgb(0, 0, 0, 0.7);
    color: white;
    border-radius: 0.5rem;
    height: 30px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cart-mobile-price {
    /* display: flex; */
  
  }

  .cart-mobile-title {
    color: red;
  }
  .cart-cont div {
    width: 23px;
    height: 23px;
    font-size: 15px;
  }
}
