.popup-modal {
  height: 100vh;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  z-index: 20;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 0, 0, 0.5);
  perspective: 1000px;
}
.popup-wrapper {
  max-width: 95%;
  background-color: white;
  border-radius: 0.5rem;
  position: relative;
  animation: pop-up 0.3s ease-in-out;
  box-shadow: 1px -1px 5px 2px rgba(0, 0, 0, 0.41) inset;
  -webkit-box-shadow: 1px -1px 5px 2px rgba(0, 0, 0, 0.41) inset;
  -moz-box-shadow: 1px -1px 5px 2px rgba(0, 0, 0, 0.41) inset;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@keyframes pop-up {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.warning-img {
  width: 70px;
  height: 70px;
}

.modal-p {
  font-style: italic;
  font-weight: 600;
  color: grey;
  margin-top: 1rem;
  font-size: 16px;
}
