.navbar.others{
  background-color:rgb(0, 0, 0,0.6) !important;
}

.navbar.active{
  background: transparent !important;
}

.navbar.scroll{
  background-color:rgb(0, 0, 0,0.7) !important;

}



.navbar .navbar-brand {
  color: white !important;
  font-size: 1.7rem;
  font-weight: 700;
  cursor: pointer;
}

.navbar .direct-order {
  background-color: rgba(0, 0, 0, 0.5);
  color: white !important;
  font-size: 15px;
  font-weight: 500;
  padding: 8px 10px;
  display: flex;
  align-items: center;
}

.navbar .order-status {
  background-color:transparent;
  color: white !important;
  font-size: 15px;
  font-weight: 500;
  padding: 8px 10px;
  display: flex;
  align-items: center;
}

.navbar .direct-order i {
  /* margin-top: 1px; */
  margin-right: 5px;
  font-size: 16px;
}

@media screen and (max-width:450px) {
  .order-toggle{
    right: 0.5px;
  }
}

@media screen and (max-width: 600px) {
  .nav-status{
    display: none;
  }
}

.btn{
  box-shadow: none !important;
}

.order-button{
  position: relative;
}

.order-toggle{
  position:absolute ;
}