.pizza-container {
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: space-between; */
  /* padding: 20px 40px; */
  border-radius: 1rem;
  padding: 0.6rem;
  cursor: pointer;
  background-color: whitesmoke;
  height: 100%;
  width: 100%;
  position: relative;
  box-shadow: 0px 0px 4px 0px rgba(37, 37, 37, 0.2);
  -webkit-box-shadow: 0px 0px 4px 0px rgba(37, 37, 37, 0.2);
  -moz-box-shadow: 0px 0px 4px 0px rgba(37, 37, 37, 0.2);
}

.pizza-container:hover {
  box-shadow: 0px 0px 4px 4px rgba(37, 37, 37, 0.25);
  -webkit-box-shadow: 0px 0px 4px 4px rgba(37, 37, 37, 0.25);
  -moz-box-shadow: 0px 0px 4px 4px rgba(37, 37, 37, 0.25);
  transition: 0.5s all;
}

.product-img {
  width: 100%;
  height: 10rem;
  object-fit: cover;
  border-radius: 1rem;
}
.pizza-title {
  font-size: 18px;
  height: 40px;

  font-weight: bold;
  color: #d1411e;
}

.pizza-price {
  font-size: 18px;
  font-weight: bold;
  display: flex;
}

.pizza-price i {
  font-size: 14px;
  background-color: black;
  color: white;
  padding: 0.3rem;
  border-radius: 2rem;
  position: absolute;
  bottom: 0.2rem;
  right: 0.2rem;
}

.pizza-desc {
  color: #777;
  background-color: rgb(255, 255, 255, 0.4);
  height: 3.5rem;
  border-radius: 5px;
  padding: 5px;
}

@media screen and (max-width: 400px) {
  .product-img {
    height: 8rem;
  }
}

@media screen and (max-width: 767px) {
  .pizza-desc {
    display: none;
  }

    .desc-cont {
    margin-top: 1rem;
  }
    .pizza-price {
    font-size: 17px;
  }

  
  .pizza-title {
    font-size: 17px;
  }
}

@media screen and (max-width: 576px) {



}
