
.productContainer{
  background-color: whitesmoke;
}

.left {
  /* background-color: blue; */
  /* width: 50%; */
  height: 80vh;
  /* background-color: blue; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-cont{
  display: none;
  
}

.related{
  margin-bottom: 5rem;
}

.button-cont div{
  background-color: black;
  border: 1px solid white;
  width: 35px;
  height: 35px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;

}

.button-cont .minus,.button-cont-desktop .minus{
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  cursor: pointer;
    background-color: rgb(221, 221, 221);
  color: black;
}

.button-cont .plus,.button-cont-desktop .plus{
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
    background-color: rgb(221, 221, 221);
  color: black;
}

.button-cont-desktop{
  display: flex;
    margin-right: 3rem;
}
.button-cont-desktop div{
  background-color: black;
  border: 1px solid white;
  width: 33px;
  height: 33px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;


}


.imgContainer{
  height: 80%;
  width: 80%;
}
.singleproduct-image{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
  box-shadow: 0px 0px 11px 1px rgba(255, 255, 255, 1);
-webkit-box-shadow: 0px 0px 11px 1px rgba(255, 255, 255, 1);
-moz-box-shadow: 0px 0px 11px 1px rgba(255, 255, 255, 1);
}

.imgContainer {
  width: 80%;
  height: 80%;
  position: relative;
  /* border-radius: 50%; */
}
/* .choose{
  margin-bottom:0.5rem;
} */
.price {
  color: #d1411e;
  font-size: 24px;
  font-weight: 600;
  border-bottom: 1px solid #d1411e;
}

.sizes {
  /* width: 40%; */
  display: flex;
  /* justify-content: space-between; */
}

.size {
  width: 35px;
  height: 35px;
  position: relative;
  cursor: pointer;
  border: 2px solid rgb(0, 0, 0,0.5);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}



.size.active{
    width: 35px;
  height: 35px;
background: black;
color:white;


}


.quantity-name{
  font-size: 5px;
}
.product-desc{
  font-style: italic;
  background-color: white;
  padding: 0.3rem;
  margin-top:0.8rem;
  border-radius: 5px;
}

.number {
  position: absolute;
  top: -5px;
  right: -20px;
  background-color: teal;
  color: white;
  font-size: 12px;
  padding: 0 5px;
  border-radius: 10px;
}

.ingredients {
  /* display: flex; */
  margin-bottom: 5rem;

}

.foodOption {
  display: flex;
  margin-right: 5px;
  font-size: 14px;
  font-weight: 500;
}

.foodCheckbox {
  width: 20px;
  height: 20px;
  cursor: pointer;

}

.quantity {
  width: 50px;
  height: 30px;
}

.product-button {
  margin-left: 10px;
  background-color: #d1411e !important;
  color: white !important;
  border: none;
  font-weight: 500;
  cursor: pointer;
}

.add{
  display: flex;
  justify-content: space-between;
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .imgContainer{
  height: 70%;
  width: 100%;
  
}
 }
@media screen and (max-width: 450px) {
  .button-cont-desktop{
    display: none;
  }
  .product-desc{
    background:whitesmoke;
  }
.productContainer{
  padding-bottom: 1rem;
  border-radius: 1rem;
  padding-top: 0.5rem;
}
.button-cont{
  display: flex;
}


  .singleproduct-image{
    border-radius: 50%;
  }

  .right{
    background-color: white;
    padding: 1rem;
    border-radius: 1rem;
  }

 
}

@media screen and (max-width: 768px) {
  .productContainer {
    margin-top: 1rem;
  }
  /* .singleproduct-image{

  border-radius: 50%;
} */

    .imgContainer{
  height: 90%;
  width: 100%;
}
  .left {
    height: 50vh;

  }


  .right {
    margin-top: 1.5rem;
    width: 100%;

  }



  .option {
    margin: 10px;
    font-size: 18px;
  }

  .checkbox {
    width: 25px;
    height: 25px;
  }

 
}
