
.mobile-tab {
  position: fixed;
  bottom: -1.5rem;
  width: 98%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(216,216,216);
  display: flex;
  justify-content: space-around;
  border-radius: 0.2rem;
  padding: 0.65rem;
}


.mobile-tab .btn{
    background-color: white;
    color: black;
 
    
}


.mobile-tab .btn.active{
    background-color: rgb(0, 0, 0,0.7);
    color: white;
}


.basket-btn{
  position: relative;
}

.basket-btn span{
  background-color: rgb(255, 0, 0,0.9);
  color: white;
  position: absolute;
  top: -0.5rem;
  right: -0.7rem;
  font-size: 13px;
  width: 20px;
  border-radius: 50%;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}


@media (min-width: 576px) {
.mobile-tab {
  display: none;
}

}
